VITE_API_BASE_URL=
VITE_NODE_ENV=
VITE_ENABLE_MOCK_API=true
VITE_ENABLE_MOCK_AUTH=true
VITE_ENABLE_RUNTIME_OBSERVABILITY=true
VITE_OTEL_ENABLED=true
VITE_OTEL_SERVICE_NAME=react-template-web
VITE_OTEL_EXPORT_INTERVAL_MS=1000
VITE_OTEL_EXPORTER_OTLP_BASE_URL=/telemetry
VITE_OBSERVABILITY_STACK_NAME=
VITE_OBSERVABILITY_COLLECTOR_URL=
VITE_OBSERVABILITY_PROMETHEUS_URL=
VITE_OBSERVABILITY_LOKI_URL=
VITE_OBSERVABILITY_TEMPO_URL=
VITE_OBSERVABILITY_GRAFANA_URL=
